<main class = "home">
<section class="sidebar">
    <h1>Adam Mohrbacher's Bloc Chat</h1>
    <button type="button" ng-controller="ModalCtrl as modal" ng-click="modal.open()" id="modal-button-area" >Create a new chat room</button>
     <div class="room" ng-repeat="room in rooms.all">
         <div class="sidebar-room-selection" ng-click="rooms.setRoom(room)">{{ room.$value }}</div>
    </div>
</section>
<section class = "message-area">
    <div class="message" ng-repeat="message in rooms.messages">
        <div class = "username">
            <div class = "bold-the-labels"> Username:</div>{{message.username}}
        </div>
        <div class = "text-content">
            <div class = "bold-the-labels">Message:</div>
                {{message.content}}
        </div>
        <div class = "message-time-stamp">
            <div class = "bold-the-labels">Time Sent:</div>{{message.sentAt}}
        </div>
        <div class = "room-id">
            <div class = "bold-the-labels">RoomId:</div>{{message.roomId}}
        </div>
    </div>
    <form ng-submit = "rooms.submitNewMessage()" class ="enter-message">
        <div class = "input-area">
            <input class = "form-control" ng-model = "rooms.newMessage" placeholder="Enter your message here...">
            <button type="submit" class="btn-sendmessage">Send Message Now!</button>
        </div> 
    </form>
</section>
</main>  